page-home {

}


/* Empty. Add your own CSS if you like */
.botonLogin {
    margin-top: -2px !important;
}

.body {
 cursor: url('https://ionicframework.com/img/finger.png'),auto;
}

#myInput {
   background-image: url('search2.png');
   background-size: auto;
   background-position: 10px 12px;
   background-repeat: no-repeat;
   width: 100%;
   font-size: 16px;
   padding: 12px 20px 12px 40px;
   border: 1px solid #ddd;
   margin-bottom: 12px;

 }

 .action-sheets-basic-page {
   .ion-md-share {
     color: #ED4248;
   }
   .ion-md-arrow-dropright-circle {
     color: #508AE4;
   }
   .ion-md-heart-outline {
     color: #31D55F;
   }
   .action-sheet-cancel ion-icon,
   .action-sheet-destructive ion-icon {
     color: #757575;
   }
 }
