<ion-header>
  <ion-navbar color="applicolor">
    <ion-title  text-center>
      Encuestas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="" class="spacer" ng-show="esIos">&nbsp;</div>

 <div class="row breadcrumbLogin" ng-controller="loginEncuestasCtrl">
     <div class="col" align="left">
     <ion-list>
     <ion-item>
          <ion-input placeholder="Usuario" type="text" id="usuario" [(ngModel)]="usuario" value=""></ion-input>
     </ion-item>

     </ion-list>

     </div>
     <div class="col" align="left">
       <label style="" class="item item-input">
         <i class="icon ion-key placeholder-icon"></i>
         <ion-list>
              <ion-item>
         <ion-input placeholder="Clave" type="password" id="clave"  [(ngModel)]="clave" value=""></ion-input>
       </ion-item>

       </ion-list>
       </label>
     </div>
     <div class="col">
   <ion-buttons>
    <button ion-button large color="applicolor" Padding="margin-top" (click)="login()">Entrar</button>
  </ion-buttons>
      </div>
    </div>
</ion-content>
